.showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
  }
  
  .loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
  }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  @keyframes color {
    100%,
    0% {
      stroke: #d62d20;
    }
    40% {
      stroke: #0057e7;
    }
    66% {
      stroke: #008744;
    }
    80%,
    90% {
      stroke: #ffa700;
    }
  }
  * {
    margin: 0;
  }
  
  body, html {
    border: none;
  }
  
  body {
    background: url(http://na.leagueoflegends.com/sites/default/files/upload/art/team_graves_2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .btns {
    width: 100px;
    height: 20px;
    background-color: red;
    position: relative;
  }
  
  .divs {
    width: 83%;
    line-height: 150px;
    margin: 2px auto;
    vertical-align: middle;
    color: silver;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
  }
  
  .divs:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .divs:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 20px;
  }
  
  #container:first-child {
    margin-top: 20px;
  }
  
  .content {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .viewers {
    width: 120px;
    height: 100%;
    text-align: center;
    float: right;
  }
  
  .gamerName {
    width: 100px;
    height: 50px;
    float: left;
    margin-left: 40px;
    font-weight: 700;
    text-align: left;
  }
  
  #green {
    color: green;
    font-size: 24px;
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
  
  #red {
    color: red;
    font-size: 24px;
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
  
  .images {
    width: 130px;
    height: 130px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    padding-top:2px;
    margin-top: 7px;
    margin-left: -55px;
    /* margin-bottom: 0; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  }
  
.imageRank{
  height: 15%;
  width: 15%;
  margin-left: 35%;
  margin-top: -30%;
}

.imageRank2{
  width: 60px;
margin-right: 2px;
  background-color: transparent;
  float: left;
  margin-left: 7px;

  margin-bottom: 10px;
}


  .defaultImg {
    width: 130px;
    height: 130px;
    background-color: transparent;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  h1 {
    text-align: center;
    padding-top: 0 !important; 
  }
.h12
{
  font-size: 3.5rem;
  top: 15%;
}
  
  
  a {
    color: silver;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline overline solid silver;
  }
  
  #strap {
    width: 113px;
    height: 200px;
    position: absolute;
    background-color: #212121;
    box-shadow: 2px 2px 3px 3px rgba(5, 5, 5, 0.4);
    left: -100px;
    top: 50px;
    color: silver;
    border-radius: 5px;
  }
  
  #view {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  
  ul {
    list-style-type: none;
    line-height: 40px;
    position: relative;
    left: -20px;
  }
  
  #mark {
    width: 10px;
    height: 20px;
    position: relative;
    left: 100px;
    top: 90px;
    color: dimgrey;
    letter-spacing: -2px;
  }
  
  ul li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  ul li:nth-child(3) {
    text-decoration: underline;
  }
  
  #logo {

    margin-bottom: -25px;
    margin-left: auto;
    top: -5px;

    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -10%;
}
#logo2 {


  width: 100%;
  margin-top: -50%;
 
}
  
  
  #mainDiv {
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 100px;
    width: 84%;
    height: 200px;
  }
  
  h1 {
    position: relative;
    margin-top: -55px !important;
    color: #DEA543;
    text-shadow: -1px -1px 0px #0f0f0f, 0px -1px 0px #0f0f0f, 1px -1px 0px #0f0f0f, -1px 0px 0px #0f0f0f, 1px 0px 0px #0f0f0f, -1px 1px 0px #0f0f0f, 0px 1px 0px #0f0f0f, 1px 1px 0px #0f0f0f, -2px -2px 0px #202422, -1px -2px 0px #202422, 0px -2px 0px #202422, 1px -2px 0px #202422, 2px -2px 0px #202422, 2px -1px 0px #202422, 2px 0px 0px #202422, 2px 1px 0px #202422, 2px 2px 0px #202422, 1px 2px 0px #202422, 0px 2px 0px #202422, -1px 2px 0px #202422, -2px 2px 0px #202422, -2px 1px 0px #202422, -2px 0px 0px #202422, -2px -1px 0px #202422;
    letter-spacing: 1.5px;
  }
  
  span {
    position: relative;
    font-size: 38px;
    top: 2px;
  }
  
  #arrow {
    position: relative;
    left: 30px;
    top: 127px;
    color: #212121;
  }

  /* I found a cool fucking font - Cole */
  @font-face {
    font-family: 'FrizQuadrataRegular';
    src: url('frizzQuadrata/FrizQuadrataRegular.eot');
    src: local('frizzQuadrata/FrizQuadrataRegular'), url('frizzQuadrata/FrizQuadrataRegular.woff') format('woff'), url('frizzQuadrata/FrizQuadrataRegular.ttf') format('truetype');
  }
  /* use this class to attach this font to any element i.e. <p class="frizzQuadrata">Text with this font applied</p> */
  .frizzQuadrata {
    font-family: 'FrizQuadrataRegular' !important;
  }
  
  /* Font downloaded from FontsForWeb.com */